:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --blueDarkGeneral: rgb(2, 2, 51);
    --colorIconMenu: white;
    --hoverAndText: aqua;
    --textGeneral: rgb(2, 2, 51);
    --whiteGeneral: white;
    --titleSmall: #7844e4;
}

footer{    
    width: 100%;
    padding-top: 53px;
}


.sectionFooter {
    row-gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secundary);
}

.containLogoFooter {
    padding-top: 60px;
}

.containIconFooter {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.iconLogoFooter {
    height: 30px;
    width: auto;
}

.iconLinkFooter,
.iconWhatssapFooterr,
.iconInstaFooter,
.iconTikFooter {
    font-size: 25px;
    color: var(--whiteGeneral);
}

.navListFooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.iconEmailFooter,
.iconPhoneFooter {
    text-decoration: none;
    font-size: 18px;
    color: var(--whiteGeneral);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
}

.iconPhoneFooter {
    width: 177px;
}

.ulFooter {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ulListFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ulListFooter,
li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--whiteGeneral);
}

.ulListFooter li a.underline-text-footer {
    position: relative;
    text-decoration: none;
    color: var(--whiteGeneral);
    transition: color 0.3s;
}

.ulListFooter li a.underline-text-footer::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--titleSmall);
    transition: width 0.3s;
}

.ulListFooter li a.underline-text-footer:hover::after {
    width: 100%;
}

.copyRight {
    padding: 10px;
    color: var(--whiteGeneral);
    font-size: 10px;
}

.bi-envelope-fill::before,
.bi-geo-alt-fill::before,
.bi-telephone-fill::before {
    font-size: 25px;
}

.hidden-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.cnt-CopyRight {
    display: flex;
    justify-content: center;
    background-color: var(--bg-secundary);
}
.containListFooter{
    background-color: var(--bg-secundary);
}
.cnt-divider{
    background-color: var(--bg-secundary);
    padding: 15px 0;
}
.divider {
    width: 61%;
    max-width: 600px;
    border: none;
    height: 1px;
    background-color: #6e6e6e;
}

@media screen and (min-width: 768px) {
    .containIconFooter {
        width: 18%;
    }
    .ulListFooter{
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {

    .iconLinkFooter,
    .iconWhatssapFooterr,
    .iconInstaFooter,
    .iconTikFooter {
        font-size: 25px;
    }

    .sectionFooter {
        padding: 50px 0 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .containIconFooter {
        width: 10%;
    }

    .containLogoFooter {
        padding-top: 0;
    }

    .copyRight {
        line-height: 1.4;
    }

}

@media screen and (min-width: 1440px) {
    footer {
        margin: auto;
    }

}