:root {
    --bg-general: #0c0832;
    --bg-secundary: #19153d;
    --bg-purple: #7844e4;
}

header {
    max-width: 1800px;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg, rgba(120, 68, 228, 1) 0%, rgba(25, 21, 61, 1) 100%);
    z-index: 9999;
}

.logoHeader {
    width: 140px;
}

.navbar {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 113px;
}

.nav_logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.nav_items ul {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    height: 40%;
    justify-content: space-around;
}

.nav_items ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
}

.nav_toggle {
    display: none;
}

.cnt-fixed {
    position: fixed;
}

@media screen and (min-width: 768px) {

    .navbar {
        gap: 478px;
    }
}

@media (max-width: 1023px) {

    .nav_items {
        height: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background: var(--bg-general);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav_items.open {
        transform: translateX(0);
    }

    .nav_toggle {
        display: flex;
        flex-direction: column;
    }

    .nav_toggle span {
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open>span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .nav_toggle.open>span:nth-child(2) {
        display: none;
    }

    .nav_toggle.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}

@media screen and (min-width: 1024px) {

    .navbar {
        gap: 0;
    }

    .nav_items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_items ul {
        width: 600px;
        display: flex;
        flex-direction: row;
        padding-left: 0;
    }

    .nav_items ul li {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .nav_items ul li a {
        font-weight: 400;
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .nav_items ul li.active a {
        color: #ff00ff;
    }

    .nav_items ul li::after {
        content: '';
        position: absolute;
        bottom: -36px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #FF00DA;
        transition: width 0.3s ease;
    }

    .nav_items ul li.active::after,
    .nav_items ul li:hover::after {
        width: 100%;
    }
}